In [1]:
# Execute if necessary
# %%capture
# !pip install numpy seaborn matplotlib pandas

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from typing import Dict, Tuple, Union, List

# Práctica 3: Modelo Lineal

__Instrucciones__: A continuación hay una lista de funciones que debe implementar o tareas que debe desarrollar. La descripción de cada una de ellas se encuentra en la definición de cada una de las funciones. Cada función está marcada por &#x1F625;,  &#x1F643; o &#x1F921;. Las marcas indican:

- &#x1F625;: Indican una entrega que debe ser hecha dentro de la misma sesión de la asignación. 
- &#x1F643;: Indican una entrega que puede ser hecha hasta la siguiente sesión.
- &#x1F921;: Debe mostrar un avance en la misma sesión, pero la entrega puede ser hecha en la siguiente.

Aquellas entregas parciales que no sean hechas el día de la asignación ya no serán válidas para las entregas totales, sin embargo, las entregas totales seguirán siendo válidas.

En esta sección se incluye un dataset real. El dataset importado incluye multiples características que describen las condiciones de los pasajeros en el accidente del titanic.

- __PassengerId__: Identificador de cada pasajero.
- __Survived__: 0 si no sobrevivió al accidente, 1 si lo hizo.
- __Pclass__: Clase en la que viajaba el pasajero, 1 - Primera clase, 2 - Segunda clase y 3 - Tercera clase.
- __Name__: Nombre del pasajero.
- __Sex__: Sexo del pasajero.
- __Age__: Edad del pasajero.
- __SibSp__: Número de hermanos más número de esposas con las que viajaba el pasajero.
- __Parch__: Número de padres más número de hijos con las que viajaba el pasajero.
- __Ticket__: Número de boleto.
- __Fare__: Tarifa del boleto del pasajero.
- __Cabin__: Número de cabina del pasajero.
- __Embarked__: Puerto de embarcación, C - Cherbourg, Q - Queenstown y S - Southampton.

In [3]:
df = pd.read_csv("titanic.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Asignación 1 &#x1F625;

Realice el preprocesamiento que considere adecuado para que las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__, __Embarked__ y __Survived__ puedan ser utilizadas por un modelo lineal.

In [4]:
# Creamos un df con solo dichas columnas
data = df.drop(columns = ["PassengerId", "Name", "Age", "Ticket", "Cabin"])
data

     Survived  Pclass     Sex  SibSp  Parch     Fare Embarked
0           0       3    male      1      0   7.2500        S
1           1       1  female      1      0  71.2833        C
2           1       3  female      0      0   7.9250        S
3           1       1  female      1      0  53.1000        S
4           0       3    male      0      0   8.0500        S
..        ...     ...     ...    ...    ...      ...      ...
886         0       2    male      0      0  13.0000        S
887         1       1  female      0      0  30.0000        S
888         0       3  female      1      2  23.4500        S
889         1       1    male      0      0  30.0000        C
890         0       3    male      0      0   7.7500        Q

[891 rows x 7 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 48.9+ KB

In [6]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [7]:
# Borrar los nulos
data[data["Embarked"].isna()]

     Survived  Pclass     Sex  SibSp  Parch  Fare Embarked
61          1       1  female      0      0  80.0      NaN
829         1       1  female      0      0  80.0      NaN

In [8]:
# Eliminar nulos
dFD = data.dropna()
dFD.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [9]:
# Convertir las características categóricas en variables dummy
sex_dummies = pd.get_dummies(dFD['Sex'], prefix='Sex')
embarked_dummies = pd.get_dummies(dFD['Embarked'], prefix='Embarked')
df_selected = pd.concat([dFD, sex_dummies, embarked_dummies], axis=1)
df_selected.drop(['Sex', 'Embarked'], axis=1, inplace=True)

# Normalizar las características numéricas
numeric_features = ['Pclass', 'SibSp', 'Parch', 'Fare']
for feature in numeric_features:
    feature_mean = df_selected[feature].mean()
    feature_std = df_selected[feature].std()
    df_selected[feature] = (df_selected[feature] - feature_mean) / feature_std

print(df_selected)

     Survived    Pclass     SibSp     Parch      Fare  Sex_female  Sex_male  \
0           0  0.824744  0.431108 -0.474059 -0.499958           0         1
1           1 -1.571327  0.431108 -0.474059  0.788503           1         0
2           1  0.824744 -0.474932 -0.474059 -0.486376           1         0
3           1 -1.571327  0.431108 -0.474059  0.422623           1         0
4           0  0.824744 -0.474932 -0.474059 -0.483861           0         1
..        ...       ...       ...       ...       ...         ...       ...
886         0 -0.373291 -0.474932 -0.474059 -0.384258           0         1
887         1 -1.571327 -0.474932 -0.474059 -0.042189           1         0
888         0  0.824744  0.431108  2.004991 -0.173986           1         0
889         1 -1.571327 -0.474932 -0.474059 -0.042189           0         1
890         0  0.824744 -0.474932 -0.474059 -0.489897           0         1

     Embarked_C  Embarked_Q  Embarked_S
0             0           0           1
1             1           0           0
2             0           0           1
3             0           0           1
4             0           0           1
..          ...         ...         ...
886           0           0           1
887           0           0           1
888           0           0           1
889           1           0           0
890           0           1           0

[889 rows x 10 columns]

In [10]:
# Normalizar

In [11]:
def scale_data(df_selected, cols):
    for c in cols:
        column = df_selected[c]
        sc_column = scale_column(column)
        data[c] = sc_column
    return data

In [12]:
def scale_column(x):
    return (x - x.mean()) / x.std()

In [13]:
df_selected = scale_data(df_selected, ['SibSp', 'Parch', 'Fare'])

In [14]:
df_selected

     Survived  Pclass     Sex     SibSp     Parch      Fare Embarked
0           0       3    male  0.431108 -0.474059 -0.499958        S
1           1       1  female  0.431108 -0.474059  0.788503        C
2           1       3  female -0.474932 -0.474059 -0.486376        S
3           1       1  female  0.431108 -0.474059  0.422623        S
4           0       3    male -0.474932 -0.474059 -0.483861        S
..        ...     ...     ...       ...       ...       ...      ...
886         0       2    male -0.474932 -0.474059 -0.384258        S
887         1       1  female -0.474932 -0.474059 -0.042189        S
888         0       3  female  0.431108  2.004991 -0.173986        S
889         1       1    male -0.474932 -0.474059 -0.042189        C
890         0       3    male -0.474932 -0.474059 -0.489897        Q

[891 rows x 7 columns]

## Asignación 2 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir __Survived__ utilizando el algoritmo _pocket_. Imprima el error obtenido.

In [15]:
# Paso 1: Importar bibliotecas
from sklearn.model_selection import train_test_split

In [16]:
data_ini = df.drop(columns = ["PassengerId", "Name", "Ticket", "Cabin"])
data_ini

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [17]:
data_ini.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [18]:
moda = data_ini["Age"].mode()
print(moda)

0    24.0
Name: Age, dtype: float64

In [19]:
data_ini = data_ini.fillna(24)

In [20]:
data_ini["Sex"] = pd.factorize(data_ini["Sex"])[0]
data_ini["Embarked"] = pd.factorize(data_ini["Embarked"])[0]
data_ini.fillna(data_ini.mean())

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    0  22.0      1      0   7.2500         0
1           1       1    1  38.0      1      0  71.2833         1
2           1       3    1  26.0      0      0   7.9250         0
3           1       1    1  35.0      1      0  53.1000         0
4           0       3    0  35.0      0      0   8.0500         0
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    0  27.0      0      0  13.0000         0
887         1       1    1  19.0      0      0  30.0000         0
888         0       3    1  24.0      1      2  23.4500         0
889         1       1    0  26.0      0      0  30.0000         1
890         0       3    0  32.0      0      0   7.7500         2

[891 rows x 8 columns]

In [21]:
def scale_column(x):
    return (x - x.mean()) / x.std()

In [22]:
def scale_data(data_ini, cols):
    for c in cols:
        column = data_ini[c]
        sc_column = scale_column(column)
        data_ini[c] = sc_column
    return data_ini

In [23]:
data_ini = scale_data(data_ini, ['SibSp', 'Parch', 'Fare', 'Age'])

In [24]:
data_ini

     Survived  Pclass  Sex       Age     SibSp     Parch      Fare  Embarked
0           0       3    0 -0.497514  0.432550 -0.473408 -0.502163         0
1           1       1    1  0.714647  0.432550 -0.473408  0.786404         1
2           1       3    1 -0.194474 -0.474279 -0.473408 -0.488580         0
3           1       1    1  0.487367  0.432550 -0.473408  0.420494         0
4           0       3    0  0.487367 -0.474279 -0.473408 -0.486064         0
..        ...     ...  ...       ...       ...       ...       ...       ...
886         0       2    0 -0.118714 -0.474279 -0.473408 -0.386454         0
887         1       1    1 -0.724794 -0.474279 -0.473408 -0.044356         0
888         0       3    1 -0.345994  0.432550  2.007806 -0.176164         0
889         1       1    0 -0.194474 -0.474279 -0.473408 -0.044356         1
890         0       3    0  0.260086 -0.474279 -0.473408 -0.492101         2

[891 rows x 8 columns]

In [25]:
# Paso 4: Separar datos en conjuntos de entrenamiento y prueba
X = data_ini.drop("Survived", axis=1)
y = data_ini["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
# Paso 5: Definir función de entrenamiento del clasificador
def train(X_train, y_train, X_test, y_test, max_iter=1000):
    # Agregar una columna de unos para el término de sesgo
    X_train = np.hstack((np.ones((X_train.shape[0], 1)), X_train))
    X_test = np.hstack((np.ones((X_test.shape[0], 1)), X_test))

    # Inicializar pesos aleatorios
    w = np.random.randn(X_train.shape[1])

    # Entrenar el clasificador con el algoritmo pocket
    best_w = w
    best_error = np.inf
    error = np.zeros(max_iter)
    for i in range(max_iter):
        y_pred = np.sign(np.dot(X_train, w))
        y_pred[y_pred == 0] = -1
        error[i] = sum((pred != train for pred, train in zip(y_pred,y_train)))/len(y_pred)
        #np.mean(y_pred != y_train)

        if error[i] < best_error:
            best_w = w.copy()
            best_error = error[i]

        # Actualizar pesos con el algoritmo de perceptrón
        idx = np.where(y_pred != y_train)[0]
        if len(idx) == 0:
            break
        x = X_train[idx[0]]
        y_true = y_train[idx[0]]
        w = w + y_true * x

    # Calcular error en conjunto de prueba
    y_pred_test = np.sign(np.dot(X_test, best_w))
    y_pred_test[y_pred_test == 0] = -1
    test_error = np.mean(y_pred_test != y_test)

    return best_w, best_error, test_error, error

In [27]:
# Paso 6: Entrenar el clasificador y calcular error de entrenamiento y prueba
w, train_error, test_error, error = train(X_train, y_train, X_test, y_test)

# Imprimir resultados
print("Error de entrenamiento:", train_error)
print("Error de prueba:", test_error)

Error de entrenamiento: 0.973314606741573
Error de prueba: 0.9608938547486033

## Asignación 3 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Cabin__ y __Embarked__, entrene una regresión lineal para predecir __Fare__ utilizando el algoritmo de Ordinary Leasts Squares (OLS). Imprima el valor del error cuadrático medio (MSE).

In [28]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
# Selección de características y preprocesamiento de datos
data_pt = df.drop(columns = ["PassengerId", "Survived", "Name", "Age", "Ticket", "Cabin"])

In [30]:
data_pt

     Pclass     Sex  SibSp  Parch     Fare Embarked
0         3    male      1      0   7.2500        S
1         1  female      1      0  71.2833        C
2         3  female      0      0   7.9250        S
3         1  female      1      0  53.1000        S
4         3    male      0      0   8.0500        S
..      ...     ...    ...    ...      ...      ...
886       2    male      0      0  13.0000        S
887       1  female      0      0  30.0000        S
888       3  female      1      2  23.4500        S
889       1    male      0      0  30.0000        C
890       3    male      0      0   7.7500        Q

[891 rows x 6 columns]

In [31]:
data_pt.isnull().sum()

Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [32]:
data_pt = scale_data(data_pt, ['Fare'])
data_pt

     Pclass     Sex  SibSp  Parch      Fare Embarked
0         3    male      1      0 -0.502163        S
1         1  female      1      0  0.786404        C
2         3  female      0      0 -0.488580        S
3         1  female      1      0  0.420494        S
4         3    male      0      0 -0.486064        S
..      ...     ...    ...    ...       ...      ...
886       2    male      0      0 -0.386454        S
887       1  female      0      0 -0.044356        S
888       3  female      1      2 -0.176164        S
889       1    male      0      0 -0.044356        C
890       3    male      0      0 -0.492101        Q

[891 rows x 6 columns]

In [33]:
sex_dummies = pd.get_dummies(data_pt['Sex'], prefix='Sex')
embarked_dummies = pd.get_dummies(data_pt['Embarked'], prefix='Embarked')
data_pt = pd.concat([data_pt, sex_dummies, embarked_dummies], axis=1)
data_pt.drop(['Sex', 'Embarked'], axis=1, inplace=True)

numeric_features = ['Pclass', 'SibSp', 'Parch', 'Fare']
for feature in numeric_features:
    feature_mean = data_pt[feature].mean()
    feature_std = data_pt[feature].std()
    data_pt[feature] = (data_pt[feature] - feature_mean) / feature_std

In [34]:
data_pt

,Pclass,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0.826913,0.432550,-0.473408,-0.502163,0,1,0,0,1
1,-1.565228,0.432550,-0.473408,0.786404,1,0,1,0,0
2,0.826913,-0.474279,-0.473408,-0.488580,1,0,0,0,1
3,-1.565228,0.432550,-0.473408,0.420494,1,0,0,0,1
4,0.826913,-0.474279,-0.473408,-0.486064,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,-0.369158,-0.474279,-0.473408,-0.386454,0,1,0,0,1
887,-1.565228,-0.474279,-0.473408,-0.044356,1,0,0,0,1
888,0.826913,0.432550,2.007806,-0.176164,1,0,0,0,1
889,-1.565228,-0.474279,-0.473408,-0.044356,0,1,1,0,0
890,0.826913,-0.474279,-0.473408,-0.492101,0,1,0,1,0

In [35]:
# División de los datos en conjunto de entrenamiento y prueba
train_size = int(len(data_pt) * 0.8)
train_set = data_pt[:train_size]
test_set = data_pt[train_size:]

X_train = train_set.drop('Fare', axis=1).values
y_train = train_set['Fare'].values
X_test = test_set.drop('Fare', axis=1).values
y_test = test_set['Fare'].values

In [36]:
# Ajuste de la regresión lineal con el algoritmo OLS
X_train = np.c_[np.ones(X_train.shape[0]), X_train]
coefficients = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ y_train

In [37]:
# Evaluación del rendimiento en el conjunto de prueba
X_test = np.c_[np.ones(X_test.shape[0]), X_test]
y_pred = X_test @ coefficients
mse = np.mean((y_test - y_pred) ** 2)

print(f"Error cuadrático medio (MSE): {np.round(mse, 3)}")

Error cuadrático medio (MSE): 0.824

## Asignación 4 &#x1F921;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir la probabilidad de supervivencia __Survived__ utilizando el algoritmo de gradiente descendente estocástico y la entropía cruzada como función de error. Imprima el arror en cada iteración del gradiente.

In [38]:
import numpy as np

# Selección de características y preprocesamiento de datos
selected_features = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Survived']
data_nny = df[selected_features]

In [39]:
data_nny

     Pclass     Sex  SibSp  Parch     Fare Embarked  Survived
0         3    male      1      0   7.2500        S         0
1         1  female      1      0  71.2833        C         1
2         3  female      0      0   7.9250        S         1
3         1  female      1      0  53.1000        S         1
4         3    male      0      0   8.0500        S         0
..      ...     ...    ...    ...      ...      ...       ...
886       2    male      0      0  13.0000        S         0
887       1  female      0      0  30.0000        S         1
888       3  female      1      2  23.4500        S         0
889       1    male      0      0  30.0000        C         1
890       3    male      0      0   7.7500        Q         0

[891 rows x 7 columns]

In [40]:
# Imputar los valores faltantes en la columna 'Fare'
# fare_median = data_nny['Fare'].median()
# data_nny = data_nny['Fare'].fillna(fare_median)
sex_dummies = pd.get_dummies('Sex')
embarked_dummies = pd.get_dummies('Embarked')

In [41]:
data_nny = pd.concat([data_nny, sex_dummies, embarked_dummies], axis=1)

In [42]:
data_nny

     Pclass     Sex  SibSp  Parch     Fare  Embarked  Survived  Sex  Embarked
0         3    male      1      0   7.2500         S         0  1.0       1.0
1         1  female      1      0  71.2833         C         1  NaN       NaN
2         3  female      0      0   7.9250         S         1  NaN       NaN
3         1  female      1      0  53.1000         S         1  NaN       NaN
4         3    male      0      0   8.0500         S         0  NaN       NaN
..      ...     ...    ...    ...      ...       ...       ...  ...       ...
886       2    male      0      0  13.0000         S         0  NaN       NaN
887       1  female      0      0  30.0000         S         1  NaN       NaN
888       3  female      1      2  23.4500         S         0  NaN       NaN
889       1    male      0      0  30.0000         C         1  NaN       NaN
890       3    male      0      0   7.7500         Q         0  NaN       NaN

[891 rows x 9 columns]

In [43]:
data_nny.isnull().sum()

Pclass        0
Sex           0
SibSp         0
Parch         0
Fare          0
Embarked      2
Survived      0
Sex         890
Embarked    890
dtype: int64

In [44]:
# Selección de características y preprocesamiento de datos
data_nny.drop(columns = ['Sex', 'Embarked'], axis=1, inplace=True)

In [45]:
data_nny

     Pclass  SibSp  Parch     Fare  Survived
0         3      1      0   7.2500         0
1         1      1      0  71.2833         1
2         3      0      0   7.9250         1
3         1      1      0  53.1000         1
4         3      0      0   8.0500         0
..      ...    ...    ...      ...       ...
886       2      0      0  13.0000         0
887       1      0      0  30.0000         1
888       3      1      2  23.4500         0
889       1      0      0  30.0000         1
890       3      0      0   7.7500         0

[891 rows x 5 columns]

In [46]:
data_nny = scale_data(data_nny, ['Fare'])

In [47]:
data_nny

     Pclass  SibSp  Parch      Fare  Survived
0         3      1      0 -0.502163         0
1         1      1      0  0.786404         1
2         3      0      0 -0.488580         1
3         1      1      0  0.420494         1
4         3      0      0 -0.486064         0
..      ...    ...    ...       ...       ...
886       2      0      0 -0.386454         0
887       1      0      0 -0.044356         1
888       3      1      2 -0.176164         0
889       1      0      0 -0.044356         1
890       3      0      0 -0.492101         0

[891 rows x 5 columns]

In [48]:
numeric_features = ['Pclass', 'SibSp', 'Parch', 'Fare']
for feature in numeric_features:
    feature_mean = data_nny[feature].mean()
    feature_std = data_nny[feature].std()
    data_nny[feature] = (data_nny[feature] - feature_mean) / feature_std

In [49]:
# Sigmoid
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [50]:
# Entropía cruzada
def cross_entropy_loss(y_true, y_pred):
    y_pred = np.clip(y_pred, 1e-8, 1 - 1e-8)
    return -np.mean(y_true*np.log(y_pred) + (1-y_true)*np.log(1-y_pred))

In [51]:
def stochastic_gradient_descent(X_train, y_train, learning_rate=0.001, iterss=100, batch_size=32):

    n_features = X_train.shape[1]
    weights = np.random.randn(n_features)
    biases = np.zeros(1)
    n_batches = len(X_train) // batch_size
    errors = []

    for iters in range(iterss):
        for batch in range(n_batches):

            X_batch = X_train[batch*batch_size : (batch+1)*batch_size]
            y_batch = y_train[batch*batch_size : (batch+1)*batch_size]

            y_pred = sigmoid(np.dot(X_batch, weights) + biases)

            error = cross_entropy_loss(y_batch, y_pred)
            errors.append(error)
            
            dW = np.dot(X_batch.T, (y_pred - y_batch)) / len(X_batch)
            db = np.sum(y_pred - y_batch) / len(X_batch)
            weights -= learning_rate * dW
            biases -= learning_rate * db

        print(f"iters {iters}: Error = {error:.4f}")

    return weights, biases, errors

In [53]:
stochastic_gradient_descent(X, y, 0.001, 100, 32)

iters 0: Error = 1.0825
iters 1: Error = 1.0780
iters 2: Error = 1.0736
iters 3: Error = 1.0692
iters 4: Error = 1.0649
iters 5: Error = 1.0606
iters 6: Error = 1.0563
iters 7: Error = 1.0521
iters 8: Error = 1.0479
iters 9: Error = 1.0437
iters 10: Error = 1.0395
iters 11: Error = 1.0354
iters 12: Error = 1.0313
iters 13: Error = 1.0273
iters 14: Error = 1.0232
iters 15: Error = 1.0192
iters 16: Error = 1.0153
iters 17: Error = 1.0113
iters 18: Error = 1.0074
iters 19: Error = 1.0035
iters 20: Error = 0.9996
iters 21: Error = 0.9957
iters 22: Error = 0.9919
iters 23: Error = 0.9881
iters 24: Error = 0.9843
iters 25: Error = 0.9805
iters 26: Error = 0.9767
iters 27: Error = 0.9730
iters 28: Error = 0.9693
iters 29: Error = 0.9655
iters 30: Error = 0.9619
iters 31: Error = 0.9582
iters 32: Error = 0.9545
iters 33: Error = 0.9509
iters 34: Error = 0.9473
iters 35: Error = 0.9437
iters 36: Error = 0.9401
iters 37: Error = 0.9365
iters 38: Error = 0.9329
iters 39: Error = 0.9294
iters 40: Error = 0.9258
iters 41: Error = 0.9223
iters 42: Error = 0.9188
iters 43: Error = 0.9153
iters 44: Error = 0.9118
iters 45: Error = 0.9083
iters 46: Error = 0.9048
iters 47: Error = 0.9014
iters 48: Error = 0.8979
iters 49: Error = 0.8945
iters 50: Error = 0.8911
iters 51: Error = 0.8877
iters 52: Error = 0.8843
iters 53: Error = 0.8809
iters 54: Error = 0.8775
iters 55: Error = 0.8741
iters 56: Error = 0.8708
iters 57: Error = 0.8674
iters 58: Error = 0.8641
iters 59: Error = 0.8607
iters 60: Error = 0.8574
iters 61: Error = 0.8541
iters 62: Error = 0.8508
iters 63: Error = 0.8475
iters 64: Error = 0.8442
iters 65: Error = 0.8409
iters 66: Error = 0.8376
iters 67: Error = 0.8344
iters 68: Error = 0.8311
iters 69: Error = 0.8279
iters 70: Error = 0.8246
iters 71: Error = 0.8214
iters 72: Error = 0.8182
iters 73: Error = 0.8150
iters 74: Error = 0.8118
iters 75: Error = 0.8086
iters 76: Error = 0.8054
iters 77: Error = 0.8023
iters 78: Error = 0.7991
iters 79: Error = 0.7959
iters 80: Error = 0.7928
iters 81: Error = 0.7897
iters 82: Error = 0.7865
iters 83: Error = 0.7834
iters 84: Error = 0.7803
iters 85: Error = 0.7772
iters 86: Error = 0.7741
iters 87: Error = 0.7710
iters 88: Error = 0.7680
iters 89: Error = 0.7649
iters 90: Error = 0.7619
iters 91: Error = 0.7588
iters 92: Error = 0.7558
iters 93: Error = 0.7528
iters 94: Error = 0.7497
iters 95: Error = 0.7467
iters 96: Error = 0.7437
iters 97: Error = 0.7408
iters 98: Error = 0.7378
iters 99: Error = 0.7348

(array([-0.71024056,  1.34664649,  1.40171085, -0.35641735, -1.04286445,
        -0.69724187, -0.09949575]),
 array([0.16279445]),
 [1.4754860631801678,
  1.5011280498949529,
  1.6009984637673038,
  1.2086894300383653,
  1.082980820971484,
  1.7297261051918573,
  1.148161299406908,
  1.6185586217148078,
  1.6022539396613917,
  1.9848227790374986,
  1.8920480056594047,
  1.0367414994667412,
  1.0840185929321768,
  1.5482191247621757,
  1.6032077390257775,
  1.3079033234849082,
  1.2257031985199665,
  1.364423600168738,
  1.0203618861924402,
  1.3711565418588862,
  1.0736870936198004,
  1.958998529555308,
  1.120710958105466,
  1.9065182923811066,
  1.2572857742058619,
  1.9325391037498507,
  1.0824858503606611,
  1.4663338553534846,
  1.4932057552685887,
  1.5931785166283465,
  1.204585790721804,
  1.0788650772625803,
  1.7232915759835572,
  1.1424782817368904,
  1.6128432272661974,
  1.5953397476559372,
  1.9725879076681294,
  1.8826024333877933,
  1.0297476155697702,
  1.0797704535094463,
  1.5394727841109561,
  1.5972956626723365,
  1.3035962584753369,
  1.2201899560688847,
  1.3580337035885364,
  1.0177878682538581,
  1.3655388759460783,
  1.0682566256535067,
  1.9508716285965442,
  1.1156054572127605,
  1.8984300072563678,
  1.252124995155147,
  1.9246257088383913,
  1.0780340910389827,
  1.4572934292309383,
  1.48537420240023,
  1.5854482731683335,
  1.2005303501332862,
  1.0747835478905337,
  1.7168955068925642,
  1.136878062182102,
  1.6071697092629336,
  1.58850046977561,
  1.9604808778667264,
  1.8732358653840981,
  1.0228596274825235,
  1.0755828739795934,
  1.5308291166944843,
  1.591420213127938,
  1.299324713907321,
  1.2147261288222897,
  1.351722898773323,
  1.0152208900565178,
  1.3599627260574108,
  1.0629025721268677,
  1.942786425804287,
  1.1105524219298377,
  1.8904102799082048,
  1.247013416840863,
  1.9167811403336894,
  1.0736196550797819,
  1.4483635092457958,
  1.477632249015964,
  1.5778063615522577,
  1.1965219318221654,
  1.0707353681794995,
  1.7105371533419147,
  1.1313590813386405,
  1.6015371140989678,
  1.5817348209688644,
  1.9485002538335645,
  1.863947106743568,
  1.0160760451079478,
  1.0714544508924888,
  1.5222867488135017,
  1.5855804287790234,
  1.295087902106316,
  1.209310543523151,
  1.345489958652789,
  1.012660029427779,
  1.3544272205601193,
  1.0576236721987347,
  1.9347422981563092,
  1.1055507817318173,
  1.8824577938253753,
  1.241950120176084,
  1.9090042820755335,
  1.0692416604804045,
  1.4395427963086027,
  1.4699787329445775,
  1.5702513933011828,
  1.192559359295984,
  1.0667196773555907,
  1.704215774868506,
  1.125919779515205,
  1.595944484359043,
  1.5750415116978533,
  1.9366445720579886,
  1.8547349646242515,
  1.0093953557143198,
  1.067383785613498,
  1.5138442929739535,
  1.579775353803788,
  1.2908850335386042,
  1.2039420389074815,
  1.3393336438073717,
  1.0101043904062137,
  1.348931488774955,
  1.0524186575625265,
  1.9267386192696114,
  1.1005994672734134,
  1.8745712333532816,
  1.2369341820145643,
  1.9012940162409973,
  1.0648992308006415,
  1.4308299695180107,
  1.4624124736162278,
  1.5627819653443933,
  1.1886414576552382,
  1.0627356195441344,
  1.6979306358479738,
  1.1205585983669208,
  1.5903908603146086,
  1.5684192493057165,
  1.924912343467943,
  1.845598249206891,
  1.0028160261361694,
  1.0633694858272809,
  1.5055003494703763,
  1.5740040394283321,
  1.2867153178514583,
  1.1986194667555865,
  1.3332527041585078,
  1.0075531038319725,
  1.3434746620508917,
  1.0472862539359653,
  1.9187747601314558,
  1.095697411741331,
  1.8667492853528411,
  1.2319646764207246,
  1.8936492245109393,
  1.060591496159682,
  1.4222236878851915,
  1.4549322735787868,
  1.555396662058912,
  1.184767055189514,
  1.0587823447516602,
  1.6916810061951606,
  1.115273982500257,
  1.5848752814015525,
  1.561866739378858,
  1.9133020555912494,
  1.836535774636846,
  0.9963365049762443,
  1.0594101670066731,
  1.4972535079622589,
  1.5682655451413186,
  1.2825779649077602,
  1.1933416928893943,
  1.3272458806467953,
  1.0050053278853883,
  1.338055874818084,
  1.0422251825385842,
  1.9108500898408252,
  1.0908435521756399,
  1.858990640812572,
  1.2270406759227774,
  1.8860687892204466,
  1.0563175941998715,
  1.4137225920661456,
  1.447536920027101,
  1.5480940572900626,
  1.1809349849308783,
  1.0548590098289146,
  1.6854661620390616,
  1.1100643810445983,
  1.5793967876746315,
  1.555382687099459,
  1.9018121747212902,
  1.8275463599459003,
  0.9899552248014043,
  1.0555044538426626,
  1.4891023490391404,
  1.562558939864245,
  1.2784721858114452,
  1.1881075981148352,
  1.3213119068931583,
  1.0024602485725256,
  1.3326742656162045,
  1.037234161552897,
  1.9029639763572461,
  1.0860368307564898,
  1.851293996409873,
  1.2221612527452281,
  1.8785515944899012,
  1.0520766710150606,
  1.4053253060963617,
  1.440225186340369,
  1.5408727163469502,
  1.1771440861604687,
  1.0509647794113428,
  1.6792853863712032,
  1.1049282491862662,
  1.573954421233808,
  1.5489657985835759,
  1.890441148079913,
  1.8186288299518836,
  0.9836706043255236,
  1.051650981631737,
  1.4810454457703486,
  1.5568833030747375,
  1.2743971939203798,
  1.1829160791084565,
  1.3154495108384436,
  0.9999170801566533,
  1.327328978095494,
  1.0323119075652432,
  1.8951157872538773,
  1.0812761960527795,
  1.8436580560178746,
  1.2173254800171402,
  1.8710965273335294,
  1.0478678820414513,
  1.3970304391223773,
  1.4329958336228685,
  1.5337311979670751,
  1.1733932058649132,
  1.0470988268337025,
  1.6731379696665198,
  1.0998640496610728,
  1.568547227617856,
  1.542614782200384,
  1.8791874059706213,
  1.809782016134204,
  0.9774810505727205,
  1.0478483976171182,
  1.473081365235433,
  1.5512377258803984,
  1.2703522058432546,
  1.177766049247686,
  1.3096574163569559,
  0.9973750655348699,
  1.3220191619879846,
  1.0274571369824623,
  1.887304890471741,
  1.0765606042296358,
  1.8360815321545816,
  1.2125324329528375,
  1.863702478742442,
  1.0436903929091412,
  1.3888365871250052,
  1.4258476122433326,
  1.5266680562445856,
  1.1696812001391197,
  1.043260335015747,
  1.6670232104758973,
  1.094870254201749,
  1.5631742571610137,
  1.536328349868332,
  1.86804936391537,
  1.8010047574834749,
  0.9713849610144937,
  1.0440953622806948,
  1.4652086700315432,
  1.545621312041189,
  1.2663364424172499,
  1.1726564393843966,
  1.3039343448397183,
  0.9948334765593806,
  1.3167439740466027,
  1.0226685674207316,
  1.8795306550720354,
  1.071889020211834,
  1.8285631473714332,
  1.2077811900018665,
  1.8563683447393635,
  1.0395433802527358,
  1.3807423346291774,
  1.4187792633683052,
  1.5196818425170384,
  1.1660069355326326,
  1.0394484973160873,
  1.6609404159896786,
  1.089945344936912,
  1.5578345663087003,
  1.5301052183241874,
  1.8570254247685862,
  1.7922959013235809,
  0.9653807256746387,
  1.0403905505827298,
  1.457425919754169,
  1.5400331789384667,
  1.2623491296633875,
  1.1675861985616336,
  1.2982790167435008,
  0.9922916143031695,
  1.31150257894998,
  1.0179449190630763,
  1.8717924519835274,
  1.0672604188005506,
  1.8211016355787677,
  1.203070833965335,
  1.8490930274024333,
  1.0354260324796198,
  1.3727462563955621,
  1.4117895204849948,
  1.512771107205865,
  1.1623692903369396,
  1.0356625183516606,
  1.6548889025715163,
  1.0850878157385164,
  1.5525272188886532,
  1.5239441103611764,
  1.8461139808023506,
  1.7836543041046646,
  0.9594667291961562,
  1.0367326531467274,
  1.449731672447887,
  1.5344724584891047,
  1.258389499716578,
  1.1625542946735739,
  1.2926901531018347,
  0.989748809270068,
  1.3062941501710732,
  1.013284915982277,
  1.864089654742119,
  1.0626737857411568,
  1.8136957433060725,
  1.1984004530759418,
  1.841875435855696,
  1.0313375504947278,
  1.364846919089391,
  1.4048771109091918,
  1.5059344016061558,
  1.1587671558114359,
  1.0319016147804596,
  1.6488679962620756,
  1.0802961735150725,
  1.5472512873342108,
  1.5178437560327356,
  1.8353134157570308,
  1.7750788321656445,
  0.9536413528646909,
  1.0331203773871462,
  1.4421244860239695,
  1.5289382980034654,
  1.2544567917276594,
  1.1575597150689916,
  1.2871664769946003,
  0.9872044215494639,
  1.3011178708078408,
  1.0086872874261181,
  1.856421640219728,
  1.058128118740006,
  1.8063442308952657,
  1.1937691420392893,
  1.8347144872240624,
  1.027277148380869,
  1.3570428829221446,
  1.3980407572740712,
  1.499170279621719,
  1.1551994373461645,
  1.0281650160454459,
  1.642877033252207,
  1.075568939448205,
  1.542005853856782,
  1.5118028938186088,
  1.8246221068520267,
  1.766568362465057,
  0.9479029765834225,
  1.0295524485779444,
  1.4346029196419288,
  1.523429860986153,
  1.250550252734789,
  1.1526014670986984,
  1.2817067149729713,
  0.9846578409161215,
  1.2959729343744637,
  1.0041507690621332,
  1.8487877893397933,
  1.0536224284284799,
  1.7990458736256483,
  1.1891760030342977,
  1.8276091075507925,
  1.023244054033813,
  1.349332703262053,
  1.3912791789957915,
  1.4924772994417836,
  1.1516650555597594,
  1.024451965077839,
  1.6369153603253082,
  1.0709046501704744,
  1.5367900115648985,
  1.5058202717503326,
  1.8140384267516463,
  1.7581217832791205,
  0.9422499807947092,
  1.0260276108602577,
  1.4271655350523293,
  1.5179463278788883,
  1.2466691385018915,
  1.1476785786075887,
  1.27630959843685,
  0.9821084868758224,
  1.2908585455518002,
  0.9996741041792808,
  1.8411874877768555,
  1.0491557392728503,
  1.791799462769506,
  1.1846201466708115,
  1.8205582326757441,
  1.0192375097516764,
  1.34171493220965,
  1.3845910937121044,
  1.4858540251561214,
  1.148162947331288,
  1.0207617189582585,
  1.6309823352687087,
  1.066301858882674,
  1.531602865527629,
  1.4998946484934472,
  1.8035607454815747,
  1.7497379948661194,
  0.9366807483441811,
  1.0225446281878168,
  1.4198108978984068,
  1.5124868967449783,
  1.2428127143219465,
  1.1427900983721198,
  1.2709738649621714,
  0.9795558086577345,
  1.285773920895971,
  0.995256044844207,
  1.833620126637765,
  1.0447270904287842,
  1.784603806577699,
  1.1801006929027273,
  1.8135608090728699,
  1.0152567727782273,
  1.3341881201348886,
  1.3779752186903207,
  1.4792990283057421,
  1.14469206676515,
  1.0170935495344333,
  1.6250773272540193,
  1.061759136409162,
  1.5264435337804558,
  1.4940247943840579,
  1.7931874322917505,
  1.741415910096319,
  0.9311936662833997,
  1.0191022852090226,
  1.4125375789743246,
  1.507050783895215,
  1.2389802557832656,
  1.1379350964841861,
  1.2656982595758066,
  0.9769992851546264,
  1.2807182895041906,
  0.9908953530100185,
  1.826085103122311,
  1.0403355365396114,
  1.777457731194938,
  1.1756167718952435,
  1.806615794645672,
  1.0113011158000296,
  1.3267508171726647,
  1.3714302722012852,
  1.4728108893667216,
  1.1412513860883369,
  1.0134467439944737,
  1.6191997171864807,
  1.0572750721900774,
  1.521311148272056,
  1.488209492417673,
  1.7829168574619223,
  1.7331544550467972,
  0.9257871276075915,
  1.0156993880848857,
  1.4053441554380992,
  1.501637224455245,
  1.2351710494969974,
  1.1331126646825092,
  1.2604815359760515,
  0.9744384248122343,
  1.2756908936371512,
  0.9865908015757519,
  1.8185818211611526,
  1.0359801484777507,
  1.7703600815047293,
  1.1711675248450402,
  1.799722159479544,
  1.0073698273974807,
  1.3194015746738716,
  1.3649549748562322,
  1.4663881991651282,
  1.1378398964798255,
  1.00982060539496,
  1.6133488980234612,
  1.0528482752095998,
  1.5162048557508163,
  1.48244753918854,
  1.772747394046527,
  1.724952569560711,
  0.920459532925409,
  1.0123347652423462,
  1.3982292119775057,
  1.4962454728746877,
  1.2313843937844484,
  1.1283219166327993,
  1.2553224576970232,
  0.9718727654692518,
  1.2706909892974867,
  0.9823411753949833,
  1.8111096920291783,
  1.0316600140289458,
  1.7633097219043081,
  1.166752104752505,
  1.7928788865501613,
  1.0034622124499841,
  1.3121389466094278,
  1.358548050903646,
  1.460029560221377,
  1.1344566088320205,
  1.006214453143339,
  1.6075242750623515,
  1.048477374859725,
  1.5111238185902098,
  1.4767377457780202,
  1.762677419555979,
  1.716809207770682,
  0.9152092920580711,
  1.0090072680627726,
  1.3911913419275128,
  1.4908748033785595,
  1.2276195993230103,
  1.1235619881580636,
  1.2502197992155386,
  0.9693018741495784,
  1.2657178467640295,
  0.9781452722322916,
  1.8036681349326353,
  1.0273742385192395,
  1.7563055370101681,
  1.162369677145292,
  1.7860849723872902,
  0.9995775924957429,
  1.304961490925026,
  1.352208229483572,
  1.453733588022742,
  1.1311005544446007,
  1.0026276234343654,
  1.601725266198169,
  1.0441610217392938,
  1.5060672155524646,
  1.4710789385907916,
  1.7527053175718488,
  1.7087233385860938,
  0.9100348255656538,
  1.0057157715057001,
  1.3842291483380378,
  1.4855245103617052,
  1.2238759897496492,
  1.1188320374205478,
  1.245172346999429,
  0.9667253468086108,
  1.26077075108177,
  0.9740019036665388,
  1.7962565775684285,
  1.0231219453848381,
  1.7493464322950338,
  1.1580194207527872,
  1.779339427693611,
  0.9957153060466848,
  1.297867770844658,
  1.3459342458370092,
  1.4474989122230986,
  1.127770785651203,
  0.9990594696405638,
  1.5959513021513299,
  1.0398978883883014,
  1.5010342424903327,
  1.4654699601380121,
  1.74282947929381,
  1.700693946144281,
  0.9049345661987146,
  1.002459174668162,
  1.3773412449910452,
  1.4801939087272125,
  1.2201529022212587,
  1.1141312450569008,
  1.240178900496408,
  0.9641428080354736,
  1.255849002507609,
  0.9699098959401865,
  1.7888744566544021,
  1.0189022766852838,
  1.7424313346574194,
  1.1537005281312323,
  1.7726412779183356,
  0.9918747088593779,
  1.2908563561212518,
  1.3397248424683827,
  1.4413241777693433,
  1.1244663763798173,
  0.9955093626568857,
  1.5902018266660563,
  1.0356866699577696,
  1.4960241129869951,
  1.4599096697668028,
  1.7330483050166268,
  1.6927200302256569,
  0.8999069602738241,
  0.9992364012801865,
  1.3705262573662682,
  1.474882334169945,
  1.2164496879313371,
  1.1094588142682338,
  1.23523827306301,
  0.9615539107132204,
  1.250951916912176,
  0.9658680907541325,
  1.7815212184293865,
  1.014714393560534,
  1.7355591929251117,
  1.1494122062395165,
  1.7659895637856255,
  0.9880551741627155,
  1.2839258242330773,
  1.3335787702593245,
  1.4352080459542609,
  1.1211864226478763,
  0.9919766911999675,
  1.5844762966800479,
  1.031526084815719,
  1.4910360589344382,
  1.454396944335716,
  1.7233602055358421,
  1.6848006066330292,
  0.8949504689719797,
  0.9960464001372944,
  1.363782823555029,
  1.4695891434064912,
  1.2127657125826607,
  1.1048139708668299,
  1.2303492928333046,
  0.9589583356391079,
  1.2460788261381448,
  0.9618753460077697,
  1.7741963191221548,
  1.0105574766327925,
  1.7287289782941198,
  1.1451536769658015,
  1.7593833417779725,
  0.9842560928435138,
  1.2770747615248306,
  1.327494789532247,
  1.4291491953959279,
  1.1179300429932681,
  0.9884608620625596,
  1.5787741824660377,
  1.0274148750900058,
  1.4860693310509376,
  1.4489306788360858,
  1.7137636034811692,
  1.676934707535385,
  0.8900635695592304,
  0.9928881454710397,
  1.3571095951218726,
  1.4643137143530298,
  1.209100356815899,
  1.1001959632813132,
  1.2255108035273719,
  0.956355791107148,
  1.2412290783156354,
  0.957930536484215,
  1.7668992253885805,
  1.0064307263541092,
  1.7219396847048654,
  1.1409241776053785,
  1.752821684574907,
  0.9804768735910667,
  1.2703017642926038,
  1.3214716710625183,
  1.4231463229440628,
  1.1146963788426978,
  0.9849613003239025,
  1.573094967746006,
  1.0233518071490029,
  1.4811231993384537,
  1.4435097869594167,
  1.7042569345769625,
  1.669121381776632,
  0.8852447565292226,
  0.9897606372588498,
  1.3505052379139348,
  1.459055446252715,
  1.2054530165942567,
  1.0956040625221477,
  1.2207216651997799,
  0.9537460124551995,
  1.2364020381354546,
  0.9540325544808798,
  1.759629414716401,
  1.0023333633009397,
  1.7151903291574966,
  1.1367229612903158,
  1.7463036814475503,
  0.9767169430019945,
  1.263605439812193,
  1.3155081970382811,
  1.4171981445139803,
  1.1114845948190566,
  0.9814774495169745,
  1.5674381497787986,
  1.0193356720213194,
  1.4761969534810562,
  1.4381332016112,
  1.694838648829473,
  1.6613596951498089,
  0.8804925426677024,
  0.986662901474607,
  1.3439684328181458,
  1.4538137597543386,
  1.2018231035444609,
  1.091037562109378,
  1.2159807549285315,
  0.9511287615789141,
  1.2315970870810324,
  0.9501803103857568,
  1.7523863757973204,
  0.9982646284170352,
  1.7084799519683997,
  1.132549297371619,
  1.7398284386096916,
  0.9729757456466865,
  1.2569844073104623,
  1.3096031619671953,
  1.411303395849115,
  1.1082938789895282,
  0.9780087717536874,
  1.5618032394220371,
  1.0153652857559177,
  1.4712899031856288,
  1.4327998753717421,
  1.6855072116408827,
  1.653648730637427,
  0.8758054600393381,
  0.9835939902815856,
  1.3374978764665904,
  1.4485880969441247,
  1.1982100452545936,
  1.0864957779645523,
  1.2112869674451294,
  0.9485038264148823,
  1.2268136236200688,
  0.9463727331999995,
  1.7451696088661945,
  0.9942237832061603,
  1.701807616970081,
  1.1284024717548022,
  1.7333950795262079,
  0.9692527440987997,
  1.2504372988797017,
  1.303755373529689,
  1.405460833213287,
  1.105123443056388,
  0.9745547478092489,
  1.5561897611691882,
  1.0114394897241696,
  1.4664013784663372,
  1.4275087809048175,
  1.6762611048504483,
  1.6459875886186641,
  0.8711820608975226,
  0.9805529821695199,
  1.331092281890477,
  1.4433779213326368,
  1.1946132855294183,
  1.0819780482687886,
  1.2066392157066648,
  0.9458710203953603,
  1.222051063356994,
  0.9426087710075589,
  1.737978626007395,
  0.9902101098762781,
  1.695172411656716,
  1.124281787189885,
  1.7270027451797696,
  0.9655474189293173,
  1.2439627603351533,
  1.2979636533784773,
  1.3996692340141148,
  1.101972522492529,
  0.9711148771670212,
  1.5505972531627603,
  1.0075571508655345,
  1.4615307298744933,
  1.4222589113151218,
  1.667098827703321,
  1.6383753870442417,
  0.866620918518116,
  0.9775389820377037,
  1.3247503791233806,
  1.4381827177988213,
  1.1910322846040395,
  1.0774837332889615,
  1.2020364314109802,
  0.9432301818769544,
  1.2173088391474634,
  0.9388873913928112,
  1.7308129514284014,
  0.9862229114369425,
  1.6885734472777296,
  1.1201865635169836,
  1.7206505942969212,
  0.9618592686667351,
  1.2375594520160862,
  1.2922268378843953,
  1.3939273973591986,
  1.0988403766238817,
  0.9676886780253208,
  1.5450252671845843,
  1.0037171618786862,
  1.4566773286756023,
  1.4170492804556847,
  1.658018897747899,
  1.6308112615798542,
  0.8621206279583179,
  0.9745511212261637,
  1.3184709157545371,
  1.4330019924933,
  1.1874665193168512,
  1.0730122151739936,
  1.1974775654561458,
  0.9405811735456527,
  1.2125864011761869,
  0.9352075818072626,
  1.7236721217010038,
  0.9822615117517576,
  1.6820098588818733,
  1.116116137868772,
  1.7143378035346837,
  0.9581878097250053,
  1.2312260495309844,
  1.286543778828742,
  1.3882341445468447,
  1.0957262886609822,
  0.9642756872676868,
  1.5394733686242168,
  0.9999184413600051,
  1.4518405669755101,
  1.4118789231865416,
  1.649019851662767,
  1.6232943657191385,
  0.8576798067421307,
  0.9715885574970294,
  1.3122526574331277,
  1.4278352727030914,
  1.1839154832428718,
  1.068562897723213,
  1.1929615883456022,
  0.9379238818005586,
  1.2078832169994829,
  0.9315683498865771,
  1.7165556859705369,
  0.9783252555478206,
  1.6754808053142687,
  1.1120698648311684,
  1.7080635676289821,
  0.9545325763008895,
  1.224961244447609,
  1.2809133440426006,
  1.382588319493298,
  1.0926295656820224,
  0.9608754603982325,
  1.5339411364264766,
  0.9961599338915015,
  1.447019857797683,
  1.406746895586111,
  1.640100246014526,
  1.6158238708671564,
  0.8532970954740641,
  0.9686504749683247,
  1.3060943883246017,
  1.4226821066799464,
  1.1803786867887014,
  1.0641352061287432,
  1.1884874905405334,
  0.9352582161186757,
  1.2031987715540005,
  0.9279687237192825,